.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.contacts-container {
  display: flex;
  position: fixed;
  top: 125px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px;
  z-index: 2;
  max-height: calc(100vh - 170px); /* высота окна минус отступ сверху и снизу */
  overflow-y: auto;  
}

.text-content {
  flex: 1;
padding: 30px;
 padding-top: 50px;

}

.text-content p {
  color: #8e8b8af3;

font-weight:bold;

}

.text-content h2 {
  color: #9F6C7D;
  font-weight:bold;
}

.callback-form {
  position: relative;
  width: 40%;
  height: auto; 
  flex: 0 0 40%; 
  overflow: hidden;
  
}

.form-bg {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}



@media (max-width: 768px) {
  .contacts-container {
    padding-top: 30px;
    flex-direction: column;
    height: auto;
  }
  
  .callback-form {
    width: 100%;
    height: 100%;
  }
  
  .text-content {
    padding: 30px;
  }
}




.link-container{
display: flex;
align-items: center;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 15px;
  color: #8e8b8af3;
  font-weight:bold;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s;
}

.contact-link:hover {
  background: #f5f5f5;
  color: black;
}

.contact-link span {
  font-size: 1.1rem;
}

.icon-link{
width: 30px;
height: 30px;
}