.message {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  padding-top: 180px;
  box-sizing: border-box;
  overflow: hidden;
}


.message-container h1 {
    margin-top: 0;
    color: #333;
}

.message-container p {
    color: #666;
    line-height: 1.6;
}


.message-container {
  position: fixed;
  top: 125px; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  background: white;

  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 30px;
  padding-top: 80px;
  z-index: 2;
  max-height: calc(100vh - 170px); /* высота окна минус отступ сверху и снизу */
  overflow-y: auto;  
}
@media (max-width: 600px) {
  .message-container {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    left: 0;
    transform: none;
  }
}