.card {
  background: url('/darkwood.jpeg');
  border-radius: 8px;
  padding: 16px 10px 20px 10px;     
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  max-width: 350px;                  
  margin: 10px auto;                
  text-align: center;
}

.card-image-wrapper {
  background: url('/darkwood.jpeg');
  padding: 8px;                      
  border-radius: 4px;
  margin-bottom: 16px;               
}

.card-image {
  width: 100%;
  max-width: 240px;                  
  border-radius: 2px;
  display: block;
  margin: 0 auto;
}

.card-title {
  color: wheat;
  font-size: 1.1rem;                 
  font-weight: bold;
  margin: 12px 0 10px 0;            
  letter-spacing: 1px;
}

.card-desc {
  color: wheat;
  font-size: 0.9rem;                
  margin-bottom: 20px;              
  line-height: 1.5;
}

.card-btn {
  background-color: wheat;
  color: gray;
  border: none;
  border-radius: 8px;                
  padding: 12px 0;                   
  width: 80%;
  max-width: 200px;                  
  font-size: 0.8rem;                 
  font-weight: bold;
  letter-spacing: 3px;              
  cursor: pointer;
  transition: background 0.2s;
}

.card-btn:hover {
  background: rgb(96, 108, 148) ;
  color: wheat;
}