.footer {
  color: white;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: auto;
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap; 
}

.footer p {
  margin: 0;
  font-size: 16px;
  color: #8e8b8af3;
  white-space: nowrap; 
}

@media (max-width: 800px) {
  .footer {
    max-width: 100vw;
    padding: 0.8rem 0.8rem;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 10px;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .footer p {
    font-size: 12px; 
    white-space: nowrap;
  }
}


@media (max-width: 480px) {
  .footer {
    gap: 15px;
    padding: 0.5rem;
  }
  
  .footer p {
    font-size: 11px;
  }
}


@media (max-width: 360px) {
  .footer {
    gap: 10px;
  }
  
  .footer p {
    font-size: 10px;
  }
}