.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  padding: 1.5rem 2rem;
  background-color: transparent; 
  box-sizing: border-box;
  z-index: 9999; 
}


nav {
  max-width: 800px;   
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
  box-sizing: border-box;
  padding: 0 2rem;    
}

.nav-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.6;
}

.nav-icon:hover {
  transform: scale(1.15);
  opacity: 1;
}

.active .nav-icon {
  opacity: 1;

}

nav a.active {
  position: relative;
}



nav a.active::after {
  content: '';
  position: absolute;
  top: 70px; 
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  width: 0;
  height: 0;
  border-left: 32px solid transparent;
  border-right: 32px solid transparent;
  border-top: 32px solid rgb(214, 192, 150); 
  border-bottom: none;
  z-index: 1;
  transition: all 0.3s ease;
}



@media (max-width: 480px) {
  .header {
    width: 100%;
    max-width: 100vw;
    padding: 0.5rem 0.5rem;
    left: 0;
    transform: none;
  }
  nav {
    gap: 1rem;
    padding: 0;
    width: 100%;
  }
  
}

@media (max-width: 480px) {
  nav a.active::after {
    top: 86px;
    /* border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid white; */
  }
}